
:root {
    --background: white;
    --back-content: #E2E8F0;
    --sidebar: #1992D4;
    --border: #F0B429;
    --font-color1: black;
    --font-color2: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--background);
}

.header {
    grid-column: 2 / 3;
}

.header-area1 {
    display: grid;
    grid-template-columns: 5fr 1fr 2fr;
    justify-items: stretch;
    align-items: center;
    padding: 15px;
}

.input {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

.input input {
    background-color: var(--back-content);
    border: transparent;
    border-radius: 20px;
    padding: 5px;
    width: 90%;
}

.notf {
    justify-self: end;
    padding-right: 22px;
}

.icon {
    width: 25px;
    height: 25px;
}

.perfil {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}
.perfil-img {
    width: 40px;
    height: 40px;
}

.header .header-area2 {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 15px;
}

.perfil-hello {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}

.perfil-hello p:nth-child(1) {
    font-size: 12px;
}

.btns {
    width: 200px;
    justify-self: center;
    padding-left: 150px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap: 40px;
}

.btns button {
    background-color: var(--sidebar);
    border: transparent;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    color: var(--font-color2);
    font-weight: bold;
}

.sidebar {
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 1 / 3;
    gap: 20px;
    background-color: var(--sidebar);
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    background-color: var(--back-content);
}

.projects-area {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    gap: 20px;
    padding: 0px 0px 20px 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    grid-column: 1 / 3;
    display: grid;
    align-items: end;
}

.projects-area p {
    grid-column: 1 / 3;
}

.project-content {
    width: 350px;
    background-color: var(--background);
    padding: 5px;
    border-radius: 10px;
    border-left: 9px solid var(--border);
}

.project-content h1 {
    font-size: 15px;
}

.project-content p {
    font-size: 10px;
    text-align: left;
}
.treding-area {
    grid-column: 2 / 3;
}

